interface Ethernet0/0
ip nat outside
!
interface Ethernet0/1
ip nat inside
!
ip nat inside source list 101 interface Ethernet0/0 overload

access-list 101 deny ip {{ interface.ip_address_source }} {{ interface.wild_mask }} {{ interface.ip_address_destination }} {{ interface.wild_mask }}
access-list 101 permit ip {{ interface.ip_address_source }} {{ interface.wild_mask }} any