ip vrf {{ vrf.name }}
 rd {{ vrf.rd.ASN }}:{{ vrf.rd.NN }}
 route-target export {{ vrf.rd.ASN }}:{{ vrf.rd.NN }}
 route-target import {{ vrf.rd.ASN }}:{{ vrf.rd.NN }}
 interface {{ interface.name }}
 encapsulation {{ interface.encapsulation }}
 ip vrf forwarding {{ vrf.name }}
 ip address {{ interface.ip_address }}
 router ospf {{ ospf.process_id }} vrf {{ vrf.name }}
{% if ospf.router_id %}router-id {{ ospf.router_id }}
{% endif %} redistribute bgp {{ bgp.as_number }} subnets
 network {{ ospf.network }} area {{ ospf.area }}
 default-information originate

 router bgp {{ bgp.as_number }}

 address-family vpnv4
  neighbor {{ bgp.neighbor_address }} activate
  neighbor {{ bgp.neighbor_address }} send-community extended

 address-family ipv4 vrf {{ vrf.name }}
  redistribute ospf {{ ospf.process_id }}
 exit-address-family
